#Ignore Environment Variables
.env

#Ignore node_modules:
node_modules/
backend/node_modules/
frontend/node_modules/

#Ignore my vision key:
google-vision-key.json

#Ignore pm2 config because it contains the env variables:
pm2.config.js